.container{
  width: 80%;
  margin: 0 auto;
}
nav{
  display: flex;
  justify-content:center;
  align-items: center;
  height: 60px;
  gap: 60px;
}

nav ul{
    display: flex;
    gap: 25px;
    list-style: none;
  }
a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    cursor: pointer;
  }
.logo img{
    object-fit: cover;
    /* width: 40%; */
  }